* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
:root{
    --couleur-second: rgb(209, 156, 29);
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color:#FFF;
}

/********************* BASE.TWIG.HTML *********************/

/** NAVBAR **/

header {
    background-color: #FFF;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.navbar {
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.logo a{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--couleur-second);
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links a {
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #000;
}

.navbar li a:hover{
    color: var(--couleur-second);
}

.navbar .toogle-btn {
    color: #000;
    font-size: 3rem;
    cursor: pointer;
    display: none;
}

/* RESPONSIVE NAV */

@media (max-width:800px) {
    .navbar{
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }

    .navbar .links {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .navbar .links ul {
        width: 100%;
    }

    .navbar .logo {
        border-bottom: black 1px solid;
    }

}

main, .index{
    margin-bottom: 50px;
}
/********************* INDEX.TWIG.HTML *********************/

.index {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block1 {
    width: 90%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    background-color: #FFF;
    margin-top: 50px;
}


.block1 img, .block2 img {
    height: 300px;
    object-fit: cover;
    object-position: top;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);
}

.block1-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block1-1 p {
    margin-top: 15px;
    color: #000;
    font-size: 1.3em;
    padding: 5px;
}

.block2 {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    justify-content: space-evenly;
    background-color: #FFF;
    margin-top: 50px;
}

.block2 .block1-1 {
    margin-right: 10px;
}

.block2 img {
    object-fit: cover;
    object-position: bottom;
}

.color-text {
    color: var(--couleur-second);
    font-weight: bold;
}

@media (max-width:800px) {
    .block1 {
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }
    .block2 {
        justify-content: center;
        flex-direction: column;
        width: 90%;
    }

    .block1 img, .block2 img {
        width: 100%;
        height: 200px;
    }

    .block1-1 {
        padding-top: 10px;
        justify-content: center;
        width: 100%;
    }
}

.block3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: #FFF;
}

.block3 img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.block3-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 25px;
}

.list-pizzas, .list-boissons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1.5rem;
    gap: 20px;
}

#vue-app .btn{
    width: 50px;
    height: 40px;
    margin-bottom:10px;
}

.item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);
    border-radius: 5px;
    background-color: #FFF;
    padding: 25px 10px;
}

.item p {
    font-weight: bold;
}

.btn{
    text-align: center;
    cursor: pointer;
    width: 200px;
    font-size: 14px;
    color: #000000;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);
    background-color: var(--couleur-second);
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    transition : 140ms;
    transform: translateY(0);
    font-weight: bold;
    text-transform: uppercase;
}

.btn:hover{
    transition : 140ms;
    padding: 10px 50px;
    transform : translateY(-0px);
    background-color: var(--couleur-second);
    color: #000000;
}

/********************* LOGIN.HTML.TWIG *********************/

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
}

/********************* PIZZAS.HTML.TWIG *********************/

.acceuil {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);
    border-radius: 5px;
    background-color: #FFF;
    padding: 25px 10px;
}

.card img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.card p {
    font-weight: bold;
}

@media (max-width:576px){
    .card img {
        width: 100%;
        height: 125px;
    }

    .card {
        width: 186px;
        justify-content: center;
        align-self: flex-start;
    }
}

.card .btn {
    margin-top: 10px;
    width: 50%;
}



/********************* PIZZAS.HTML.TWIG *********************/

.pizza {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cardPizza {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);
    padding: 20px 20px;
}

.cardPizza img{
    width: 400px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 10px rgba(0, 0 , 0 ,0.5);

}